.main {
    margin-bottom: 60px;
}

.icon-test {
    display: flex;

    .cloud {
        &-saved {
            color: green;
        }
        &-synchro {
            color: orange;
        }
        &-error {
            color: red;
        }
        &-update {
            color: blue;
        }
    }
}
