@use './../../styles/variables' as *;
@use './../../styles/mixins' as *;

.resultsCountryCard {
    color: $primary-color;
    @include drop-shadow();
    &__wrapper {
        display: flex;
        gap: 0.5vw;
        padding: 0.8vw;
        padding-left: 1.5vw;
        width: 100%;
        max-width: 100%;
        background: linear-gradient(
            90deg,
            #0334de99 15%,
            #7a33d850 40%,
            #af33d550 65%,
            #f0f6 100%
        );
        border-radius: 0.8rem;
        container-type: inline-size;
        position: relative;
    }

    &__country {
        display: flex;
        align-items: center;
        position: relative;
        width: fit-content;
        max-width: 100%;
        min-width: 0;
        border-radius: 999px;
        color: $secondary-color;
        background-color: $primary-color;
        font-size: 1rem;
        padding: 0.25rem 1rem 0.125rem;
        padding-left: 1.5rem;
    }

    &__flag {
        max-width: 2.5rem;
        position: absolute;
        top: -0.5rem;
        left: -1rem;
        z-index: 100;
    }

    &__name {
        display: inline-block;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
