@font-face {
    font-family: 'Singing Sans';
    src: url('../assets/fonts/Singing_Sans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neulis Neue';
    src: url('../assets/fonts/Neulis_Neue.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}