$primary-color: #fff;
$secondary-color: #161e29;
$twitch-color: #8b68ee;
$twitch-color-accent: #a970ff;
$color-accent: #f10d59;
$color-success-soft: #16db65;
$attenuated-color: #817C8F;

$tier-s-color: #f05656;
$tier-a-color: #f28b38;
$tier-b-color: #e6c84b;
$tier-c-color: #58b96a;
$tier-d-color: #4d88d9;
